.idea
/homeworks/homework_1/task3/target/global-logging/sbt-global-log265888603368465104.log
/homeworks/homework_1/task3/project/target/streams/_global/_global/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/_global/_global/csrLogger/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/_global/csrConfiguration/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/_global/csrProject/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/_global/ivyConfiguration/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/_global/ivySbt/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/_global/moduleSettings/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/_global/projectDescriptors/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/_global/update/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/compile/bspReporter/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/compile/compile/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/compile/compileIncremental/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/compile/copyResources/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/compile/incOptions/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/compile/scalacOptions/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/compile/unmanagedClasspath/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
/homeworks/homework_1/task3/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
/homeworks/homework_1/task3/target/streams/_global/_global/_global/streams/out
/homeworks/homework_1/task3/target/streams/_global/_global/csrLogger/_global/streams/out
/homeworks/homework_1/task3/target/streams/_global/_global/dumpStructure/_global/streams/out
/homeworks/homework_1/task3/target/streams/_global/csrConfiguration/_global/streams/out
/homeworks/homework_1/task3/target/streams/_global/csrProject/_global/streams/out
/homeworks/homework_1/task3/target/streams/_global/ivyConfiguration/_global/streams/out
/homeworks/homework_1/task3/target/streams/_global/ivySbt/_global/streams/out
/homeworks/homework_1/task3/target/streams/_global/moduleSettings/_global/streams/out
/homeworks/homework_1/task3/target/streams/_global/projectDescriptors/_global/streams/out
/homeworks/homework_1/task3/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
/homeworks/homework_1/task3/target/streams/_global/update/_global/streams/out
/homeworks/homework_1/task3/target/streams/_global/updateClassifiers/_global/streams/out
/homeworks/homework_1/task3/target/streams/compile/bspReporter/_global/streams/out
/homeworks/homework_1/task3/target/streams/compile/compile/_global/streams/out
/homeworks/homework_1/task3/target/streams/compile/compileIncremental/_global/streams/out
/homeworks/homework_1/task3/target/streams/compile/copyResources/_global/streams/out
/homeworks/homework_1/task3/target/streams/compile/incOptions/_global/streams/out
/homeworks/homework_1/task3/target/streams/compile/internalDependencyClasspath/_global/streams/out
/homeworks/homework_1/task3/target/streams/compile/mainClass/_global/streams/out
/homeworks/homework_1/task3/target/streams/compile/packageBin/_global/streams/out
/homeworks/homework_1/task3/target/streams/compile/scalacOptions/_global/streams/out
/homeworks/homework_1/task3/target/streams/compile/unmanagedClasspath/_global/streams/out
/homeworks/homework_1/task3/target/streams/runtime/internalDependencyAsJars/_global/streams/out
/homeworks/homework_1/task3/target/streams/runtime/unmanagedClasspath/_global/streams/out
/homeworks/homework_1/task3/target/streams/test/unmanagedClasspath/_global/streams/out
/homeworks/homework_1/task3/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
/homeworks/homework_1/task3/target/scala-2.13/update/update_cache_2.13/output
/homeworks/homework_1/task3/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/output
/homeworks/homework_1/task3/target/streams/compile/packageBin/_global/streams/output
/homeworks/homework_1/task3/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
/homeworks/homework_1/task3/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/output_dsp
/homeworks/homework_1/task3/project/target/streams/compile/_global/_global/compileOutputs/previous
/homeworks/homework_1/task3/target/streams/compile/_global/_global/compileOutputs/previous
/homeworks/homework_1/task3/target/global-logging/sbt-global-log4014160195348567338.log
/homeworks/homework_1/task3/target/bg-jobs/sbt_b7d06049/job-1/target/7b639bbb/04842d72/task3_2.13-0.1.0-SNAPSHOT.jar
/homeworks/homework_1/task3/target/scala-2.13/task3_2.13-0.1.0-SNAPSHOT.jar
/homeworks/homework_1/task3/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
/homeworks/homework_1/task3/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/input_dsp
/homeworks/homework_1/task3/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
/homeworks/homework_1/task3/target/scala-2.13/update/update_cache_2.13/inputs
/homeworks/homework_1/task3/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/inputs
/homeworks/homework_1/task3/target/streams/compile/packageBin/_global/streams/inputs
/homeworks/homework_1/task3/target/scala-2.13/classes/Main$.class
/homeworks/homework_1/task3/target/scala-2.13/classes/Main$delayedInit$body.class
/homeworks/homework_1/task3/project/target/streams/compile/_global/_global/discoveredMainClasses/data
/homeworks/homework_1/task3/target/streams/compile/_global/_global/discoveredMainClasses/data
/homeworks/homework_1/task3/project/target/streams/compile/compileIncremental/_global/streams/export
/homeworks/homework_1/task3/project/target/streams/compile/dependencyClasspath/_global/streams/export
/homeworks/homework_1/task3/project/target/streams/compile/exportedProducts/_global/streams/export
/homeworks/homework_1/task3/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
/homeworks/homework_1/task3/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
/homeworks/homework_1/task3/project/target/streams/compile/managedClasspath/_global/streams/export
/homeworks/homework_1/task3/project/target/streams/compile/unmanagedClasspath/_global/streams/export
/homeworks/homework_1/task3/project/target/streams/compile/unmanagedJars/_global/streams/export
/homeworks/homework_1/task3/project/target/streams/runtime/dependencyClasspath/_global/streams/export
/homeworks/homework_1/task3/project/target/streams/runtime/exportedProducts/_global/streams/export
/homeworks/homework_1/task3/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/homeworks/homework_1/task3/project/target/streams/runtime/fullClasspath/_global/streams/export
/homeworks/homework_1/task3/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
/homeworks/homework_1/task3/project/target/streams/runtime/managedClasspath/_global/streams/export
/homeworks/homework_1/task3/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
/homeworks/homework_1/task3/project/target/streams/runtime/unmanagedJars/_global/streams/export
/homeworks/homework_1/task3/target/streams/compile/compileIncremental/_global/streams/export
/homeworks/homework_1/task3/target/streams/compile/dependencyClasspath/_global/streams/export
/homeworks/homework_1/task3/target/streams/compile/exportedProductJars/_global/streams/export
/homeworks/homework_1/task3/target/streams/compile/exportedProducts/_global/streams/export
/homeworks/homework_1/task3/target/streams/compile/externalDependencyClasspath/_global/streams/export
/homeworks/homework_1/task3/target/streams/compile/internalDependencyClasspath/_global/streams/export
/homeworks/homework_1/task3/target/streams/compile/managedClasspath/_global/streams/export
/homeworks/homework_1/task3/target/streams/compile/unmanagedClasspath/_global/streams/export
/homeworks/homework_1/task3/target/streams/compile/unmanagedJars/_global/streams/export
/homeworks/homework_1/task3/target/streams/runtime/dependencyClasspathAsJars/_global/streams/export
/homeworks/homework_1/task3/target/streams/runtime/exportedProductJars/_global/streams/export
/homeworks/homework_1/task3/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/homeworks/homework_1/task3/target/streams/runtime/fullClasspathAsJars/_global/streams/export
/homeworks/homework_1/task3/target/streams/runtime/internalDependencyAsJars/_global/streams/export
/homeworks/homework_1/task3/target/streams/runtime/managedClasspath/_global/streams/export
/homeworks/homework_1/task3/target/streams/runtime/unmanagedClasspath/_global/streams/export
/homeworks/homework_1/task3/target/streams/runtime/unmanagedJars/_global/streams/export
/homeworks/homework_1/task3/target/streams/test/externalDependencyClasspath/_global/streams/export
/homeworks/homework_1/task3/target/streams/test/managedClasspath/_global/streams/export
/homeworks/homework_1/task3/target/streams/test/unmanagedClasspath/_global/streams/export
/homeworks/homework_1/task3/target/streams/test/unmanagedJars/_global/streams/export
/homeworks/homework_1/task3/project/target/config-classes/$4fdb451cc35b1ae4612b$.class
/homeworks/homework_1/task3/project/target/config-classes/$4fdb451cc35b1ae4612b.cache
/homeworks/homework_1/task3/project/target/config-classes/$4fdb451cc35b1ae4612b.class
/homeworks/homework_1/task3/project/target/config-classes/$9d32cec0b750478af815$.class
/homeworks/homework_1/task3/project/target/config-classes/$9d32cec0b750478af815.cache
/homeworks/homework_1/task3/project/target/config-classes/$9d32cec0b750478af815.class
/homeworks/homework_1/task3/project/target/config-classes/$27c9b45f39e9d2fd94bf$.class
/homeworks/homework_1/task3/project/target/config-classes/$27c9b45f39e9d2fd94bf.cache
/homeworks/homework_1/task3/project/target/config-classes/$27c9b45f39e9d2fd94bf.class
/homeworks/homework_1/task3/project/target/config-classes/$55e1a72e2d6341e4c686$.class
/homeworks/homework_1/task3/project/target/config-classes/$55e1a72e2d6341e4c686.cache
/homeworks/homework_1/task3/project/target/config-classes/$55e1a72e2d6341e4c686.class
/homeworks/homework_1/task3/project/project/target/config-classes/$a30f3b2702b22d389aea$.class
/homeworks/homework_1/task3/project/project/target/config-classes/$a30f3b2702b22d389aea.cache
/homeworks/homework_1/task3/project/project/target/config-classes/$a30f3b2702b22d389aea.class
/homeworks/homework_1/task3/target/.history3
/homeworks/homework_1/task3/project/target/.sbt-compilation-infos/root-compile/.sbt-idea-lock
/homeworks/homework_1/task3/project/target/scala-2.12/sbt-1.0/sync/copy-resource
/homeworks/homework_1/task3/target/scala-2.13/sync/copy-resource
/homeworks/homework_1/task3/target/scala-2.13/zinc/inc_compile_2.13.zip
